<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/sviOglasi">Pogledaj sve oglase</a>
        <a href="/addOglas">Dodaj oglas</a>
    </nav>
    <form action="/snimiOglas" method="get">
        <label>Kategorija:</label><input type="text" name="kategorija">
        <br>
        <label>Datum isteka oglasa:</label><input type="text" name="datumIsteka">
        <br>
        <label>Valuta:</label><input type="text" name="valuta">
        <br>
        <label>Cena:</label><input type="text" name="cena">
        <br>
        <label>Tekst:</label><input type="text" name="tekst">
        <br>
        <label>Oznaka:</label><input type="text" name="oznaka">
        <br>
        <label>Email:</label><input type="text" name="email">
        <br>
        <button type="submit">Dodaj Oglas</button>
    </form>
</body>
</html>