<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/sviOglasi">Pogledaj sve oglase</a>
        <a href="/addOglas">Dodaj oglas</a>
    </nav>
    <form action="/snimiOglas" method="post">
        <label>Kategorija:</label><select name="kategorija">
                                    <option value="automobili">Automobili</option>
                                    <option value="stanovi">Stanovi</option>
                                    <option value="alati">Alati</option>
                                    <option value="motori">Motori</option>
                                    <option value="elektronika">Elektronika</option>
                                </select>

        <br>
        <label>Datum isteka oglasa:</label><input type="date" name="datumIsteka">
        <br>
        <label>Valuta:</label><input type="text" name="valuta">
        <br>
        <label>Cena:</label><input type="text" name="cena">
        <br>
        <label>Tekst:</label><input type="text" name="tekst">
        <br>
        <label>Oznaka:</label><div><button onClick="dodajOznaku()">Dodaj oznaku</button></div>
        <div id="oznakee"><input type="text" name="oznaka"><br></div>
        <br>
        <label>Email:</label><button onClick="dodajEmail()">Dodaj email</button></div>
        <div id="mejlss"><input type="email" name="vrednost"><select name="email"><option value="Privatni">Privatni</option><option value="Sluzbeni">Sluzbeni</option></select><br></div>
        <br>
        <button type="submit">Dodaj Oglas</button>
    </form>
</body>

<script>
    function dodajOznaku()
    {
        document.getElementById('oznakee').innerHTML += `<input type="text" name="oznaka"><br>`
    }
    function dodajEmail()
    {
        document.getElementById('mejlss').innerHTML += `<input type="text" name="vrednost"><select name="email"><option value="Privatni">Privatni</option><option value="Sluzbeni">Sluzbeni</option></select><br>`
    }

</script>
</html>